body {
	margin: 0px;
	background-color: brown;
	text-align: center;
}
div.ribbon {
	margin: 0px;
	padding: 10px;
	width: auto;
	background-color: white;
	text-align: center;
}
h1, p {
	font-family: sans-serif;
}
h1 {
	color: red;
}
p {
	color: black;
}
@media only screen and (min-width: 600px) {
	div.ribbon {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 800px) {
	div.ribbon {
		width: 75%;
	}
}